@font-face {
  font-family: 'Suisse Intl';
  src: url('./fonts/Suisse/SuisseIntl-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('./fonts/Suisse/SuisseIntl-ThinItalic.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('./fonts/Suisse/SuisseIntl-Ultralight.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('./fonts/Suisse/SuisseIntl-UltralightItalic.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('./fonts/Suisse/SuisseIntl-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('./fonts/Suisse/SuisseIntl-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('./fonts/Suisse/SuisseIntl-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('./fonts/Suisse/SuisseIntl-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('./fonts/Suisse/SuisseIntl-Book.otf') format('opentype');
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('./fonts/Suisse/SuisseIntl-BookItalic.otf') format('opentype');
  font-weight: 450;
  font-style: italic;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('./fonts/Suisse/SuisseIntl-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('./fonts/Suisse/SuisseIntl-MediumItalic.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('./fonts/Suisse/SuisseIntl-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('./fonts/Suisse/SuisseIntl-SemiBoldItalic.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('./fonts/Suisse/SuisseIntl-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('./fonts/Suisse/SuisseIntl-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('./fonts/Suisse/SuisseIntl-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('./fonts/Suisse/SuisseIntl-BlackItalic.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Suisse Intl', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1F1D2D;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
}

